
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="admin/common/header :: common-header" />

<body>
	<div th:replace="admin/common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="${book.id == null} ? @{/admin/add} : @{/admin/updateBook}" 
				th:object="${book}" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						<span th:text="*{id == null} ? 'New Book' : 'Update Book'"></span><span style="font-size: small"> * is a required field</span>
					</legend>
					
					<input th:if="*{id != null}" hidden="hidden" th:field="*{id}" />

					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Title</label>
						<div class="col-md-8">
							<input type="text" class="form-control" 
								th:field="*{title}" required="required" placeholder="Title" />
							<span class="help-block">Title of the book</span>
						</div>
					</div>

					<!-- author -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="author">*
							Author</label>
						<div class="col-md-8">
							<input type="text" class="form-control"
								th:field="*{author}" required="required"
								placeholder="Author" /> <span class="help-block">Author
								of the book</span>
						</div>
					</div>

					<!-- publisher -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="publisher">Publisher</label>
						<div class="col-md-8">
							<input type="text" class="form-control"
								th:field="*{publisher}"
								placeholder="Publisher" /> <span class="help-block">Publisher
								of the book</span>
						</div>
					</div>

					<!-- publication date -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="publicationDate">Publication
							Date</label>
						<div class="col-md-8">
							<input type="date" class="form-control"
								th:field="*{publicationDate}"
								placeholder="Publication Date" /> <span class="help-block">Publication
								Date of the book</span>
						</div>
					</div>

					<!-- language -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="language">Language</label>
						<div class="col-md-8">
							<select th:field="*{language}" class="form-control">
								<option value="english">English</option>
								<option value="spanish">Spanish</option>
							</select>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Category</label>
						<div class="col-md-8">
							<select th:field="*{category}" class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="Psychology"
									th:selected="(*{category}=='Psychology')">Psychology</option>
								<option value="Business &amp; Finance"
									th:selected="(*{category}=='Business &amp; Finance')">Business &amp; Finance</option>
								<option value="Programming"
									th:selected="(*{category}=='Programming')">Programming</option>
								<option value="Parenting &amp; Relationships"
									th:selected="(*{category}=='Parenting &amp; Relationships')">Parenting &amp; Relationships</option>
								<option value="Politics"
									th:selected="(*{category}=='Politics')">Politics</option>
							</select>
						</div>
					</div>

					<!-- pages -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="numberOfPages">Pages</label>

						<div class="col-md-8">
							<input type="number" class="form-control"
								th:field="*{numberOfPages}"
								placeholder="Page Number" /> <span class="help-block">Number
								of pages of the book</span>
						</div>
					</div>

					<!-- format -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="format">Format</label>
						<div class="col-md-8">
							<select th:field="*{format}"
								class="form-control">
								<option value="paperback">Paperback</option>
								<option value="hardcover">Hardcover</option>
							</select>
						</div>
					</div>

					<!-- isbn -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="isbn">ISBN</label>

						<div class="col-md-8">
							<input type="text" class="form-control"
								th:field="*{isbn}" placeholder="ISBN" /> <span
								class="help-block">ISBN of the book</span>
						</div>
					</div>

					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Shipping
							Weight</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:field="*{shippingWeight}" type="number" step="0.01"
									class="form-control"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Ounces</span>
							</div>
							<span class="help-block">Shipping Weight of the book</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">List
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:field="*{listPrice}" type="number" step="0.01"
									class="form-control" placeholder="List Price" />
							</div>
							<span class="help-block">List price of the book</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:field="*{ourPrice}" type="number" step="0.01"
									class="form-control" placeholder="Our Price" />
							</div>
							<span class="help-block">Our price of the book</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">Number
							in stock</label>
						<div class="col-md-8">
							<input th:field="*{inStockNumber}" type="number"
								class="form-control" 
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Number of in-stock copies</span>
						</div>
					</div>

					<!-- status of book -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input th:value="true" th:field="*{active}" type="radio" th:checked="*{active}" /> Active </label>
							<label><input th:value="false" th:field="*{active}" type="radio" th:checked="*{!active}"/> Inactive </label>
							<span class="help-block">Whether the book is active or inactive</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>
						<div class="col-md-8">
							<textarea rows="5" class="form-control"
								th:field="*{description}" th:text="*{description}" 
								placeholder="Description" />
							<span class="help-block">Description of the book</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="bookImage">Upload book image</label>
						</div>
						<div class="col-md-8">
							<input type="file" th:field="*{bookImage}" disabled="true" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success" th:text="*{id == null} ? ' Add Book' : ' Update Book'"> Add Book</button>
							<a class="btn btn-danger" th:href="*{id == null} ? @{/admin} : @{/admin/bookInfo(id=${book.id})}"> Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="admin/common/header :: body-bottom-scripts" />
</body>
</html>
