
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="generic-container">
		<div class="row" style="margin-bottom: -50px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span th:text="${user}? ${#strings.toUpperCase(user.email)} : 'All Books'"></span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/booklistnew_1_orig.png" class="img-responsive" align="right" style="width: 70%;" />
				<h6 class="heading7">SLN's<br/>Book Shop</h6>
			</div>
		</div>
		
		<hr style="width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -55px;" />

		<div class="row" style="margin-top:10px">
			<div class="col-xs-3">
				<h6 class="heading7">CONTACT</h6>
				<ul>
					<p>
						<i class="fa fa-map-pin"></i> 123 XXX Ave<br /> New York NY, USA 33322
					</p>
					<p>
						<i class="fa fa-phone"></i> Phone (USA) : +1 555 555 5555
					</p>
					<p>
						<i class="fa fa-envelope"></i> E-mail : info@bookshop.com
					</p>
				</ul>
				<hr/>
				<h6 class="heading7">SHOP HOURS</h6>
				<div>
					<p>Monday - Saturday: 9am - 10pm</p>
					<p>Sunday: 10am - 10pm</p>
				</div>
			</div>
			<div class="col-xs-9">
				<iframe width="100%" height="600px" frameborder="0" scrolling="yes" marginheight="50" marginwidth="0" th:src="@{//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Central+Park,+New+York,+NY,+USA&amp;aq=0&amp;sll=14.093957,1.318359&amp;sspn=69.699334,135.263672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Central+Park,+New+York,+NY,+USA&amp;ll=40.778265,-73.96988&amp;spn=0.033797,0.06403&amp;t=m&amp;output=embed}"></iframe>
			</div>
		</div>
	</div>
	<!-- end of container -->

	<div th:replace="common/header :: footer"/>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
