<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -10px;">
			<div class="col-xs-3">
				<img src="/image/1490985786_elementary_school.png" class="img-responsive" />
			</div>
			<div class="col-xs-9">
				<h1 style="margin-top: 200px;">
					<span>My Account</span>
				</h1>
				<hr	style="width: 100%; height: 6px; background-color: #333;" />
			</div>
		</div>
		

		<div class="row" style="margin-top: 60px;">
		

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveProfile}? 'active'">
						<a href="#tab-1" data-toggle="tab"><span class="text-danger">
							<i class="fa fa-user-circle" aria-hidden="true" /> My Profile</span></a>
					</li>
					<li th:classappend="${classActiveOrders}? 'active'">
						<a href="#tab-2" data-toggle="tab"><span class="text-danger">
							<i class="fa fa-history" aria-hidden="true" /> My Orders</span></a>
					</li>
					<li th:classappend="${classActiveBilling}? 'active'">
						<a href="#tab-3" data-toggle="tab"><span class="text-danger">
							<i class="fa fa-credit-card" aria-hidden="true" /> Billing</span></a>
					</li>
					<li th:classappend="${classActiveShipping}? 'active'">
						<a href="#tab-4" data-toggle="tab"><span class="text-danger">
							<i class="fa fa-address-card" aria-hidden="true" /> Shipping</span></a>
					</li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- Edit user information -->
					<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveProfile}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"	style="background-color: #ededed; margin-top: 20px;">

									<div class="alert alert-danger" th:if="${incorrectPassword}">
										<strong>Incorrect Password!</strong> Please enter your current password.
									</div>

									<div class="alert alert-success" th:if="${updateSuccess}">
										<strong>Update Success!</strong>
									</div>

									<form th:action="@{/updateUserInfo}" method="post" th:object="${user}">
										<input type="hidden" th:field="*{id}"  />

										<div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>
										
										<div class="form-group">
											<label for="email" class="control-label">Your Email Address</label>
											<input type="hidden" th:field="*{email}" /> 
											<input type="text" class="form-control" id="email" th:value="*{email}" disabled="true" />
											<p style="color: #828282">All
												emails from the system withll be sent to this address. The
												email address is not made public and will only be used if you
												wish to receive a new password or wish to receive certain
												notification.</p>
										</div>

										<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName" class="control-label">First Name</label>
													<input type="text" class="form-control" id="firstName"  th:field="*{firstName}" />
													<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="control-label"></span>
												</div>
												<div class="col-xs-6">
													<label for="lastName" class="control-label">Last Name</label>
													<input type="text" class="form-control" th:field="*{lastName}" />
												</div>
											</div>
										</div>

										<hr />

										<div class="form-group">
											<label for="currentPassword" class="control-label">Current Password</label> 
											<input type="password" class="form-control" id="currentPassword" th:field="*{password}" />
											<p style="color: #828282">Enter your current password to set new password.</p>
										</div>
										
										<div class="form-group" id="newPasswords">
											<label for="txtNewPassword" class="control-label">New Password</label>&nbsp;
											<span id="checkPasswordMatch" style="color: red;"></span>
											<input type="password" class="form-control" id="txtNewPassword" name="newPassword" />
	
											<br />
	
											<label for="txtConfirmPassword" class="control-label">Confirm New Password</label>
											<input type="password" class="form-control" id="txtConfirmPassword" />
											<p style="color: #828282">To change the current user
												password, enter the new password in both fields.</p>
										</div>

										<button id="updateUserInfoButton" type="submit" class="btn btn-primary"> Save </button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Order Information -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveOrders}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<table class="table table-sm table-inverse">
										<thead>
											<tr>
												<th>Order Date</th>
												<th>Order Number</th>
												<th>Total</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${orderList}">
												<td><a th:href="@{/orderDetail(id=${order.id})}"><span
														th:text="${order.orderDate}"></span></a></td>
												<td data-th-text="${order.id}"></td>
												<td data-th-text="${order.orderTotal}"></td>
												<td data-th-text="${order.orderStatus}"></td>
											</tr>
										</tbody>
									</table>

									<div th:if="${displayOrderDetail}">
										<div class="row">
											<div class="col-xs-12">
												<div class="text-center">
													<h2>
														Order Detail for Purchase #<span th:text="${order.id}"></span>
													</h2>
												</div>
												<hr />

												<div class="row">
													<div class="col-xs-4">
														<div class="panel panel-default height">
															<div class="panel-heading">
																<strong>Billing Details</strong>
															</div>
															<div class="panel-body">
																<span
																	th:text="${order.billingAddress.billingAddressName}"></span><br />
																<span
																	th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
																<span
																	th:text="${order.billingAddress.billingAddressCity}"></span><br />
																<span
																	th:text="${order.billingAddress.billingAddressState}"></span><br />
																<span
																	th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
															</div>
														</div>
													</div>
													<div class="col-xs-4">
														<div class="panel panel-default height">
															<div class="panel-heading">
																<strong>Payment Information</strong>
															</div>
															<div class="panel-body">
																<span th:text="${order.payment.holderName}">Card
																	Name</span><br /> <span th:text="${order.payment.cardNumber}">Card
																	Number</span><br /> <span>Exp Date:</span><span
																	th:text="${order.payment.expiryMonth}"></span>/<span
																	th:text="${order.payment.expiryYear}"></span><br />
															</div>
														</div>
													</div>
													<div class="col-xs-4">
														<div class="panel panel-default height">
															<div class="panel-heading">
																<strong>Billing Details</strong>
															</div>
															<div class="panel-body">
																<span
																	th:text="${order.shippingAddress.shippingAddressName}"></span><br />
																<span
																	th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br />
																<span
																	th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
																<span
																	th:text="${order.shippingAddress.shippingAddressState}"></span><br />
																<span
																	th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="panel-heading">
													<h3 class="text-center">
														<strong>Order Summary</strong>
													</h3>
												</div>
												<div class="panel-body">
													<div class="table-responsive">
														<table class="table table-condensed">
															<thead>
																<tr>
																	<td><strong>Item Name</strong></td>
																	<td class="text-center"><strong>Item
																			Price</strong></td>
																	<td class="text-center"><strong>Item
																			Quantity</strong></td>
																	<td class="text-right"><strong>Total</strong></td>
																</tr>
															</thead>
															<tbody>
																<tr th:each="cartItem : ${cartItemList}">
																	<td data-th-text="${cartItem.book.title}"></td>
																	<td class="text-center"
																		data-th-text="${cartItem.book.ourPrice}"></td>
																	<td class="text-center" data-th-text="${cartItem.qty}"></td>
																	<td class="text-center"
																		data-th-text="${cartItem.subtotal}"></td>
																</tr>
																<tr>
																	<td class="highrow"></td>
																	<td class="highrow"></td>
																	<td class="highrow text-center"><strong>Subtotal</strong></td>
																	<td class="highrow text-right"
																		data-th-text="${order.orderTotal}"></td>
																</tr>
																<tr>
																	<td class="emptyrow"></td>
																	<td class="emptyrow"></td>
																	<td class="emptyrow text-center"><strong>Tax</strong></td>
																	<td class="emptyrow text-right"
																		data-th-text="${#numbers.formatDecimal(order.orderTotal*0.06,0,2)}"></td>
																</tr>
																<tr>
																	<td class="emptyrow"><i
																		class="fa fa-barcode iconbig"></i></td>
																	<td class="emptyrow"></td>
																	<td class="emptyrow text-center"><strong>Total</strong></td>
																	<td
																		th:with="total=${order.orderTotal+order.orderTotal*0.06}"
																		data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
																		class="emptyrow text-right"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Billing Information -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveBilling}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
									<div class="alert alert-success" th:if="${creditCardUpdated}"><strong>Credit Card Updated</strong></div>
								
									<ol class="breadcrumb">
 										<li class="breadcrumb-item active">
											<strong th:if="${listOfCreditCards}">My Credit Cards</strong>
											<a th:if="! ${listOfCreditCards}" th:href="@{/listOfCreditCards}">My Credit Cards</a>
 										</li>
 										
										<li class="breadcrumb-item active" >
											<strong th:if="${addNewCreditCard}">Add Credit Card</strong>
											<a th:if="! ${addNewCreditCard}" th:href="@{/addNewCreditCard}">Add Credit Card</a>
										</li>
									</ol>

									<div th:if="${listOfCreditCards}">
										<form th:action="@{/setDefaultPayment}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Default Card</th>
														<th>Credit Card Name</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td><input type="radio" name="defaultUserPaymentId"
															th:value="${userPayment.id}"
															th:checked="${userPayment.defaultPayment}" /><span th:if="${userPayment.defaultPayment}"> Default card</span>
														</td>
														<td th:text="${userPayment.cardName}"></td>
														<td>
															<a th:href="@{/updateCreditCard(id=${userPayment.id})}" class="btn btn-info btn-xs">
																<i class="fa fa-pencil"></i> Edit</a>&nbsp;&nbsp;
															<a th:href="@{/removeCreditCard(id=${userPayment.id})}" class="btn btn-danger btn-xs"><i
																class="fa fa-times"></i> Delete</a>
														</td>
													</tr>
												</tbody>
											</table>
											<button th:disabled="${#lists.size(userPaymentList) lt 2}" class="btn btn-primary" type="submit">Set Default Card</button>
										</form>
									</div>

									<div th:if="${addNewCreditCard}">
										<form th:action="@{addNewCreditCard}" method="post">
											<input hidden="hidden" name="id" th:value="${userPayment.id}" />

											<div class="form-group" th:classappend="${#fields.hasErrors('userPayment.cardName')}? 'has-error'">
												<label for="firstName" class="control-label">* Give a name for your card:</label>
												<input type="text" class="form-control" id="cardName" placeholder="Card Name" name="cardName"
													required="required" th:value="${userPayment.cardName}" />
												<span th:if="${#fields.hasErrors('userPayment.cardName')}" th:errors="${userPayment.cardName}" class="control-label"></span>	
											</div>
											
											<!-- Billing Address -->
											<hr />
											<div class="form-group">
												<h4>Billing Address</h4>
											</div>
											<div class="form-group" th:classappend="${#fields.hasErrors('userBilling.userBillingName')}? 'has-error'">
												<label for="billingName" class="control-label">* Name</label>
												<input type="text" class="form-control" id="billingName" placeholder="Receiver Name" name="userBillingName"
													required="required" th:value="${userBilling.userBillingName}" />
												<span th:if="${#fields.hasErrors('userBilling.userBillingName')}" th:errors="${userBilling.userBillingName}" class="control-label"></span>
											</div>
											<div class="form-group" th:classappend="${#fields.hasErrors('userBilling.userBillingStreet1')}? 'has-error'">
												<label for="billingAddress" class="control-label">* Street Address</label>
												<input type="text" class="form-control" id="billingAddress" placeholder="Street Address 1" name="userBillingStreet1"
													required="required" th:value="${userBilling.userBillingStreet1}" />
												<span th:if="${#fields.hasErrors('userBilling.userBillingStreet1')}" th:errors="${userBilling.userBillingStreet1}" class="control-label"></span>
												<input type="text" class="form-control" id="billingAddress" placeholder="Street Address 2" name="userBillingStreet2"
													th:value="${userBilling.userBillingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group" th:classappend="${#fields.hasErrors('userBilling.userBillingCity')}? 'has-error'">
														<label for="billingCity" class="control-label">* City</label>
														<input type="text" class="form-control" id="billingCity" placeholder="Billing city" name="userBillingCity"
															required="required" th:value="${userBilling.userBillingCity}" />
														<span th:if="${#fields.hasErrors('userBilling.userBillingCity')}" th:errors="${userBilling.userBillingCity}" class="control-label"></span>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingState">* State</label> <select
															id="billingState" class="form-control"
															th:name="userBillingState"
															th:value="${userBilling.userBillingState}"
															required="required">
															<option value="" disabled="disabled">Please
																select an option</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userBilling.userBillingState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group" th:classappend="${#fields.hasErrors('userBilling.userBillingZipcode')}? 'has-error'">
														<label for="billingZipcode" class="control-label">* Zipcode</label>
														<input type="text" class="form-control" id="billingZipcode" placeholder="Billing Zipcode"
															name="userBillingZipcode" required="required" th:value="${userBilling.userBillingZipcode}" />
														<span th:if="${#fields.hasErrors('userBilling.userBillingZipcode')}" th:errors="${userBilling.userBillingZipcode}" class="control-label"></span>
													</div>
												</div>
											</div>

											<!-- Credit Card Information -->
											<hr />
											<div class="form-group">
												<h4>Credit Card Information</h4>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<img src="/image/creditcard.png" class="img-responsive" /><br />
													<div class="form-group">
														<label for="cardType">* Select Card Type:</label> <select
															class="form-control" id="cardType" th:name="type"
															th:value="${userPayment.type}">
															<option value="visa">Visa</option>
															<option value="mastercard">Mastercard</option>
															<option value="discover">Discover</option>
															<option value="amex">American Express</option>
														</select>
													</div>
													<div class="form-group" th:classappend="${#fields.hasErrors('userPayment.holderName')}? 'has-error'">
														<label for="cardHolder" class="control-label">* Card Holder Name:</label>
														<input type="text" class="form-control" id="cardHolder"
															required="required" placeHolder="Card Holder Name"
															name="holderName" th:value="${userPayment.holderName}" />
														<span th:if="${#fields.hasErrors('userPayment.holderName')}" th:errors="${userPayment.holderName}" class="control-label"></span>
													</div>
													<div class="form-group" th:classappend="${#fields.hasErrors('userPayment.cardNumber')}? 'has-error'">
														<label for="cardNumber" class="control-label">* Card Number:</label>
														<div class="input-group">
															<input type="tel" class="form-control" id="cardNumber"
																required="required" placeHolder="Valid Card Number"
																name="cardNumber"
																th:value="${userPayment.cardNumber}" />
															<span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
														</div>
														<span th:if="${#fields.hasErrors('userPayment.cardNumber')}" th:errors="${userPayment.cardNumber}" class="control-label"></span>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-xs-7">
													<div class="form-group">
														<label>* Expiration Date</label>
														<div class="row">
															<div class="col-xs-6">
																<select class="form-control" name="expiryMonth"
																	required="required"
																	th:value="${userPayment.expiryMonth}">
																	<option disabled="disabled">-- Month --</option>
																	<option value="01">Jan (01)</option>
																	<option value="02">Feb (02)</option>
																	<option value="03">Mar (03)</option>
																	<option value="04">Apr (04)</option>
																	<option value="05">May (05)</option>
																	<option value="06">June (06)</option>
																	<option value="07">July (07)</option>
																	<option value="08">Aug (08)</option>
																	<option value="09">Sep (09)</option>
																	<option value="10">Oct (10)</option>
																	<option value="11">Nov (11)</option>
																	<option value="12">Dec (12)</option>
																</select>
															</div>
															<div class="col-xs-6">
																<select class="form-control" name="expiryYear"
																	th:value="${userPayment.expiryYear}">
																	<option disabled="disabled">-- Year --</option>
																	<option value="2017">2017</option>
																	<option value="2018">2018</option>
																	<option value="19">2019</option>
																	<option value="20">2020</option>
																	<option value="21">2021</option>
																	<option value="22">2022</option>
																	<option value="23">2023</option>
																	<option value="23">2024</option>
																	<option value="23">2025</option>
																	<option value="23">2026</option>
																	<option value="23">2027</option>
																	<option value="23">2028</option>
																	<option value="23">2029</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5">
													<div class="form-group" th:classappend="${#fields.hasErrors('userPayment.cvc')}? 'has-error'">
														<label for="cardCVC" class="control-label">CV Code</label>
														<input id="cardCVC" type="tel" class="form-control" 
															placeholder="CVC" name="cvc"
															th:value="${userPayment.cvc}" />
														<span th:if="${#fields.hasErrors('userPayment.cvc')}" th:errors="${userPayment.cvc}" class="control-label"></span>
													</div>
												</div>
											</div>
											<hr />
											<button type="submit" class="btn btn-primary btn-lg">Save Card</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Shipping Information -->
					<div class="tab-pane fade" id="tab-4" th:classappend="${classActiveShipping}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
									<div class="alert alert-success" th:if="${shippingAddressUpdated}"><strong>Shipping Address Updated</strong></div>

									<ol class="breadcrumb">
										<li class="breadcrumb-item active">
											<strong th:if="${listOfShippingAddresses}">My Shipping Addresses</strong>
											<a th:if="! ${listOfShippingAddresses}" th:href="@{/listOfShippingAddresses}">My Shipping Addresses</a>
										</li>

										<li class="breadcrumb-item active">
											<strong th:if="${addNewShippingAddress}">Add Shipping Address</strong>
											<a th:if="! ${addNewShippingAddress}" th:href="@{/addNewShippingAddress}">Add Shipping Address</a>
										</li>
									</ol>

									<div th:if="${listOfShippingAddresses}">
										<form th:action="@{/setDefaultShippingAddress}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Default Address</th>
														<th>Shipping Address</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userShipping : ${userShippingList}">
														<td><input type="radio"
															name="defaultShippingAddressId"
															th:value="${userShipping.id}"
															th:checked="${userShipping.userShippingDefault}" /><span th:if="${userShipping.userShippingDefault}"> Default address</span></td>
														<td
															th:text="${userShipping.userShippingName}+', '+${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
														<td>
															<a th:href="@{/updateUserShipping(id=${userShipping.id})}" class="btn btn-info btn-xs">
																<i class="fa fa-pencil"></i> Edit</a>&nbsp;&nbsp;
															<a th:href="@{/removeUserShipping(id=${userShipping.id})}" class="btn btn-danger btn-xs">
																<i class="fa fa-times"></i> Delete</a></td>
													</tr>
												</tbody>
											</table>
											<button th:disabled="${#lists.size(userShippingList) lt 2}" class="btn btn-primary" type="submit">Set Default Address</button>
										</form>
									</div>
									
									<div th:if="${addNewShippingAddress}">
										<form th:action="@{/addNewShippingAddress}" method="post" th:object="${userShipping}">
											<input hidden="hidden" name="id" th:field="*{id}" />

											<!-- Shipping Address -->
											<hr />
											<div class="form-group">
												<h4>Shipping Address</h4>
											</div>
											<div class="form-group" th:classappend="${#fields.hasErrors('userShippingName')}? 'has-error'">
												<label for="userShippingName" class="control-label">* Name</label>
												<input type="text" class="form-control" placeholder="Receiver Name"
													th:field="*{userShippingName}" required="required" />
												<span th:if="${#fields.hasErrors('userShippingName')}" th:errors="*{userShippingName}" class="control-label"></span>
											</div>
											<div class="form-group" th:classappend="${#fields.hasErrors('userShippingStreet1')}? 'has-error'">
												<label for="userShippingStreet1" class="control-label">* Street Address</label>
												<input type="text" class="form-control"	placeholder="Street Address 1" required="required"
													th:field="*{userShippingStreet1}" />
												<span th:if="${#fields.hasErrors('userShippingStreet1')}" th:errors="*{userShippingStreet1}" class="control-label"></span>
												<input type="text" class="form-control" placeholder="Street Address 2" 
													th:field="*{userShippingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group" th:classappend="${#fields.hasErrors('userShippingCity')}? 'has-error'">
														<label for="userShippingCity" class="control-label">* City</label>
														<input type="text" class="form-control" placeholder="Shipping City" required="required"
															th:field="*{userShippingCity}" />
														<span th:if="${#fields.hasErrors('userShippingCity')}" th:errors="*{userShippingCity}" class="control-label"></span>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="userShippingState" class="control-label">* State</label>
														<select id="userShippingState" class="form-control"
															th:name="userShippingState"
															th:value="${userShipping.userShippingState}"
															required="required">
															<option value="" disabled="disabled">Please select an option</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userShipping.userShippingState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group" th:classappend="${#fields.hasErrors('userShippingZipcode')}? 'has-error'">
														<label for="userShippingZipcode" class="control-label">* Zipcode</label>
														<input type="text" class="form-control" placeholder="Shipping Zipcode" required="required"
															th:field="*{userShippingZipcode}" />
														<span th:if="${#fields.hasErrors('userShippingZipcode')}" th:errors="*{userShippingZipcode}" class="control-label"></span>
													</div>
												</div>
											</div>

											<hr />
											<button type="submit" class="btn btn-primary btn-lg">Save Address</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
